$colors: (
    common: (
        white: #ffffff,
        black: #000000,
        black-2: #030303,
        black-3: #333333,
    ),
    heading: (
        primary: #4a326f,
    ),
    gradient: (
        1: #926efb,
        2: #4a56ab,
        3: #465bd7,
    ),
    text: (
        body: #6f7782,
    ),
    theme: (
        primary: #754de9,
        secondary: #4a326f,
    ),
    light: (
        1: #9171ee,
        2: #bdaaf5,
        3: #c8b8f7,
        4: #d3c6f8,
        5: #ded4fa,
        6: #e9e3fc,
        7: #f4f1fd,
    ),
    grey: (
        1: #6f7782,
        2: #a1acb3,
        3: #bdc5ca,
        4: #dcdee7,
        5: #f2f5f9,
        6: #fafafc,
    ),
    extra: (
        1: #ff647c,
        2: #ffb800,
        3: #5fcc8b,
        4: #7b61ff,
        5: #f1eeff,
        6: #fff2f4,
        7: #fffcf4,
    ),
    border: (
        1: #ededed,
    ),
);
