@use "../utilities" as *;

/**----------------------------------------
START: Team CSS
----------------------------------------*/
.tj-team-section {
    padding-bottom: 115px;
    padding-top: 85px;
    position: relative;
    .tj-team-slider {
        padding: 10px;
    }
    .team-shape {
        position: absolute;
        top: 30%;
        left: 30px;
        transform: translateY(-50%);
    }
    .team-shape1 {
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
    }
    .team-shape2 {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .swiper-pagination {
        width: auto;
        right: 80px;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
    }
    .swiper-pagination .swiper-pagination-bullet {
        display: inline-block;
    }
    .swiper-pagination .swiper-pagination-bullet:last-child {
        margin-bottom: 0;
    }
    .swiper-pagination-bullet {
        background: var(--tj-color-light-2);
        width: 8px;
        height: 5px;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
    }
    .swiper-pagination-bullet-active {
        background: var(--tj-color-light-1);
        background: var(--tj-color-light-1);
        width: 21px;
        height: 5px;
        position: relative;
    }
}
.team-content-one {
    margin-bottom: 35px;
    .desc {
        margin-bottom: 35px;
    }
}
.tj-team-item {
    padding: 20px 20px;
    border-radius: 0 20px 20px 20px;
    background: var(--tj-color-common-white);
    box-shadow: 0px 0px 10px 0px rgba(19, 0, 49, 0.03);
    margin-bottom: 60px;
    @include transition(all 0.4s ease-in-out 0s);
    .team-header {
        transform: translateY(0);
        @include transition(all 0.4s ease-in-out 0s);
    }
    .team-image-box {
        position: relative;
        img {
            width: 100%;
            border-radius: 20px;
        }
        .team-content {
            padding: 30px 20px 0 20px;
            border-radius: 0px 0px 10px 10px;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
            backdrop-filter: blur(25px);
            position: absolute;
            bottom: 0;
            width: 100%;
            transition: 0.4s;
            transform: translateY(0);
            left: 0;
            .title-link {
                color: var(--tj-color-common-white);
                @include transition(all 0.4s ease-in-out 0s);
                &:hover {
                    color: var(--tj-color-heading-primary);
                }
            }
            .sub-title {
                color: var(--tj-color-common-white);
                font-size: 14px;
                font-weight: var(--tj-fw-regular);
                display: block;
                margin-bottom: 10px;
            }
            .team-social {
                margin-top: 10px;
                opacity: 0;
                visibility: hidden;
                transform: translateY(0);
                @include transition(all 0.4s ease-in-out 0s);
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li {
                        display: inline-block;
                        i {
                            font-size: 14px;
                            margin-right: 8px;
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            line-height: 25px;
                            background: transparent;
                            text-align: center;
                            color: var(--tj-color-common-white);
                            border: 1px solid var(--tj-color-common-white);
                            border-radius: 5px;
                            @include transition(all 0.4s ease-in-out 0s);
                            &:hover {
                                background-color: var(--tj-color-gradient-2);
                                border-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
    .hover-shape-border {
        position: relative;
    }
    .border-shadow {
        content: "";
        display: block;
        position: absolute;
        z-index: 9;
    }
    .testimonial-item-shape {
        .shadow-1 {
            top: 0px;
            left: 0;
            background: linear-gradient(to bottom, var(--tj-color-gradient-1) -100%, rgba(21, 22, 37, 0) 64%);
            width: 1.5px;
            height: 350px;
        }
        .shadow-2 {
            top: 0;
            left: 0px;
            background: linear-gradient(to right, var(--tj-color-gradient-1) -100%, rgba(21, 22, 37, 0) 64%);
            width: 350px;
            height: 1.5px;
        }
    }
    &:hover {
        .team-content {
            .team-header {
                transform: translateY(-15px);
            }
            .team-social {
                opacity: 1;
                visibility: visible;
                transform: translateY(-15px);
            }
        }
    }
}
/* !END: Team CSS */
